{% load humanize %}


<div class="row">
    {% if user.is_authenticated and user.is_staff and user.is_superuser %}

    <div class="col-md-6 col-lg-3 col-xl-3 col-sm-6 col-12">
        <div class="widget-card widget-bg1">					 
            <div class="wc-item">
                <h4 class="wc-title">
                    Submited:
                </h4>
                <span class="wc-des">
                    Total Submission
                </span>
                <span class="wc-stats">
                    <span class="counter"></span>
                </span>		
                <div class="progress wc-progress">
                    <div class="progress-bar" role="progressbar" style="width: 78%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="wc-progress-bx">
                    <span class="wc-change">
                        Progress
                    </span>
                    <span class="wc-number ml-auto">
                        78%
                    </span>
                </span>
            </div>				      
        </div>
    </div>

  


    {% endif %}

    {% if user.is_authenticated and user.is_staff and user.is_superuser %}

    <div class="col-md-6 col-lg-3 col-xl-3 col-sm-6 col-12">
        <div class="widget-card widget-bg2">					 
            <div class="wc-item">
                <h4 class="wc-title">
                     Processing Fee:
                </h4>
                <span class="wc-des">
                    Paid Processing Fee
                </span>
                <span class="wc-stats counter">
                    0 
                </span>		
                <div class="progress wc-progress">
                    <div class="progress-bar" role="progressbar" style="width: 88%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="wc-progress-bx">
                    <span class="wc-change">
                        Progress
                    </span>
                    <span class="wc-number ml-auto">
                        0
                    </span>
                </span>
            </div>				      
        </div>
    </div>

    {% else %}

    <div class="col-md-6 col-lg-3 col-xl-3 col-sm-6 col-12">
        <div class="widget-card widget-bg2">					 
            <div class="wc-item">
                <h4 class="wc-title">
                     Submission(s)
                </h4>
                <span class="wc-des">
                    My Submission(s)
                </span>
                <span class="wc-stats counter">
                   
                </span>		
                <div class="progress wc-progress">
                    <div class="progress-bar" role="progressbar" style="width: 88%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="wc-progress-bx">
                    <span class="wc-change">
                        Progress
                    </span>
                    <span class="wc-number ml-auto">
                        0
                    </span>
                </span>
            </div>				      
        </div>
    </div>


    {% endif %}

    

    {% if user.is_authenticated and user.is_staff and user.is_superuser %}
    <div class="col-md-6 col-lg-3 col-xl-3 col-sm-6 col-12">
        <div class="widget-card widget-bg3">					 
            <div class="wc-item">
                <h4 class="wc-title">
                    Approved
                </h4>
                <span class="wc-des">
                    Approved for Payment
                </span>
                <span class="wc-stats counter">
                    0
                </span>		
                <div class="progress wc-progress">
                    <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="wc-progress-bx">
                    <span class="wc-change">
                        Change
                    </span>
                    <span class="wc-number ml-auto">
                        65%
                    </span>
                </span>
            </div>				      
        </div>
    </div>

    {% else %}

    <div class="col-md-6 col-lg-3 col-xl-3 col-sm-6 col-12">
        <div class="widget-card widget-bg3">					 
            <div class="wc-item">
                <h4 class="wc-title">
                    Approved
                </h4>
                <span class="wc-des">
                    Approved for Payment
                </span>
                <span class="wc-stats counter">
                    0
                </span>		
                <div class="progress wc-progress">
                    <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="wc-progress-bx">
                    <span class="wc-change">
                        Change
                    </span>
                    <span class="wc-number ml-auto">
                        65%
                    </span>
                </span>
            </div>				      
        </div>
    </div>


    {% endif %}

    {% if user.is_authenticated and user.is_staff and user.is_superuser %}

    <div class="col-md-6 col-lg-3 col-xl-3 col-sm-6 col-12">
        <div class="widget-card widget-bg4">					 
            <div class="wc-item">
                <h4 class="wc-title">
                   Total Paid  
                </h4>
                <span class="wc-des">
                    Recieved Scholarship(s)
                </span>
                <span class="wc-stats counter">
                    0 
                </span>		
                <div class="progress wc-progress">
                    <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="wc-progress-bx">
                    <span class="wc-change">
                        Change
                    </span>
                    <span class="wc-number ml-auto">
                        90%
                    </span>
                </span>
            </div>				      
        </div>
    </div>

    {% else %}

    <div class="col-md-6 col-lg-3 col-xl-3 col-sm-6 col-12">
        <div class="widget-card widget-bg4">					 
            <div class="wc-item">
                <h4 class="wc-title">
                    Paid  
                </h4>
                <span class="wc-des">
                    Recieved Scholarship(s)
                </span>
                <span class="wc-stats counter">
                    0 
                </span>		
                <div class="progress wc-progress">
                    <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="wc-progress-bx">
                    <span class="wc-change">
                        Change
                    </span>
                    <span class="wc-number ml-auto">
                        90%
                    </span>
                </span>
            </div>				      
        </div>
    </div>

    {% endif %}
</div>
