{% load humanize %}


<div class="row">
    {% if user.is_authenticated and user.is_staff and user.is_superuser %}

    <div class="col-md-6 col-lg-3 col-xl-3 col-sm-6 col-12">
        <div class="widget-card widget-bg1">					 
            <div class="wc-item">
                <h4 class="wc-title">
                    Reservations:
                </h4>
                <span class="wc-des">
                    Total Reservations
                </span>
                <span class="wc-stats">
                    <span class="counter">{{ guest }}</span>
                </span>		
                <div class="progress wc-progress">
                    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="wc-progress-bx">
                    <span class="wc-change">
                        Number of Events:
                    </span>
                    <span class="wc-number ml-auto">
                        {{ total_events }}
                    </span>
                </span>
            </div>				      
        </div>
    </div>

  


    {% endif %}

    {% if user.is_authenticated and user.is_staff and user.is_superuser %}

    <div class="col-md-6 col-lg-3 col-xl-3 col-sm-6 col-12">
        <div class="widget-card widget-bg2">					 
            <div class="wc-item">
                <h4 class="wc-title">
                     Amount:
                </h4>
                <span class="wc-des">
                    Amount Sold Tickets
                </span>
                <span class="wc-stats counter">
                   N{{ total }}
                </span>		
                <div class="progress wc-progress">
                    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="wc-progress-bx">
                    <span class="wc-change">
                        Number of Events:
                    </span>
                    <span class="wc-number ml-auto">
                        {{ total_events }}
                    </span>
                </span>
            </div>				      
        </div>
    </div>

    {% else %}

    <div class="col-md-6 col-lg-3 col-xl-3 col-sm-6 col-12">
        <div class="widget-card widget-bg2">					 
            <div class="wc-item">
                <h4 class="wc-title">
                     Current Event
                </h4>
                <span class="wc-des">
                    My Event Reservation 
                </span>
                <span class="wc-stats counter">
                   
                </span>		
                <div class="progress wc-progress">
                    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="wc-progress-bx">
                    <span class="wc-change">
                        Event Date:
                    </span>
                    
                </span>
            </div>				      
        </div>
    </div>


    {% endif %}

    

    {% if user.is_authenticated and user.is_staff and user.is_superuser %}
    <div class="col-md-6 col-lg-3 col-xl-3 col-sm-6 col-12">
        <div class="widget-card widget-bg3">					 
            <div class="wc-item">
                <h4 class="wc-title">
                    Activations
                </h4>
                <span class="wc-des">
                    Activated Tickets
                </span>
                <span class="wc-stats counter">
                   {{ total_pin_activated }}
                </span>		
                <div class="progress wc-progress">
                    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="wc-progress-bx">
                    <span class="wc-change">
                        Number of Events:
                    </span>
                    <span class="wc-number ml-auto">
                        {{ total_events }}
                    </span>
                </span>
            </div>				      
        </div>
    </div>

    {% else %}

    <div class="col-md-6 col-lg-3 col-xl-3 col-sm-6 col-12">
        <div class="widget-card widget-bg3">					 
            <div class="wc-item">
                <h4 class="wc-title">
                    Remittance:
                </h4>
                <span class="wc-des">
                    Amount Remitted
                </span>
                <span class="wc-stats counter">
                    0
                </span>		
                <div class="progress wc-progress">
                    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="wc-progress-bx">
                    <span class="wc-change">
                        Sales Point Remittance 
                    </span>
                    <span class="wc-number ml-auto">
                        0
                    </span>
                </span>
            </div>				      
        </div>
    </div>


    {% endif %}

    {% if user.is_authenticated and user.is_staff and user.is_superuser %}

    <div class="col-md-6 col-lg-3 col-xl-3 col-sm-6 col-12">
        <div class="widget-card widget-bg4">					 
            <div class="wc-item">
                <h4 class="wc-title">
                   Remittance:  
                </h4>
                <span class="wc-des">
                    Amount Remitted
                </span>
                <span class="wc-stats counter">
                    0 
                </span>		
                <div class="progress wc-progress">
                    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="wc-progress-bx">
                    <span class="wc-change">
                        Sales Point Remittance
                    </span>
                    <span class="wc-number ml-auto">
                        0
                    </span>
                </span>
            </div>				      
        </div>
    </div>

    {% else %}

    <div class="col-md-6 col-lg-3 col-xl-3 col-sm-6 col-12">
        <div class="widget-card widget-bg4">					 
            <div class="wc-item">
                <h4 class="wc-title">
                    Event Date 
                </h4>
                <span class="wc-des">
                   Days to the Event
                </span>
                <span class="wc-stats counter">
                    0 
                </span>		
                <div class="progress wc-progress">
                    <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="wc-progress-bx">
                    <span class="wc-change">
                        Change
                    </span>
                    <span class="wc-number ml-auto">
                        90%
                    </span>
                </span>
            </div>				      
        </div>
    </div>

    {% endif %}
</div>
