{% load static %}
<div class="container py-lg-3">
    <div class="footer-destinations mb-3 text-center">
      <h5>The life of the party. The sound of celebration.</h5>
    </div>
    <div class="d-grid grid-col-3 footer-top7">
      <div class="footer-list7 mt-4">
        <h6 class="footer-title7">Quick links</h6>
        <ul>
          <li><a href="{% url 'pages-about' %}">About</a></li>
          <li><a href="{% url 'pages-services' %}">Services</a></li>
          <li><a href="#url">Privacy & Policy</a></li>
          <li><a href="contact.html">Map & Location</a></li>
        </ul>
      </div>
      <div class="footer-list7 mt-4">

        <h6 class="footer-title7">Newsletter sign up</h6>
        <form action="#" method="post" class="footer-newsletter">
          <input type="email" name="" placeholder="Email address" required />
          <button class="btn btn-style">Subscribe</button>
        </form>

      </div>

      <div class="footer-list7 mt-4">
        <h6 class="footer-title7">Call Us:</h6>
        <ul class="phone-numbers">
          <li><a href="tel:+2348026421028"> +2348026421028</a></li>
          <li><a href="tel:+2349164660944"> +2349164660944</a></li>
        </ul>
        <h6 class="footer-title7">Connect with us</h6>
        <div class="main-social-footer7">
          <a href="#url" title="Facebook" class="footer-fb"><span class="fa fa-facebook"
              aria-hidden="true"></span></a>
          <a href="#url" title="Twitter" class="footer-tw"><span class="fa fa-twitter"
              aria-hidden="true"></span></a>
          <a href="#url" title="Google Plus" class="footer-gg"><span class="fa fa-google-plus"
              aria-hidden="true"></span></a>
          <a href="#url" title="Linkedin" class="footer-lin"><span class="fa fa-linkedin"
              aria-hidden="true"></span></a>
          <a href="#url" title="Pinterest" class="footer-pin"><span class="fa fa-pinterest"
              aria-hidden="true"></span></a>
        </div>
      </div>
    </div>
    <div class="copy-right-hny text-center">
      <p>© 2022 Festivity. All rights reserved.Design by <a href="" target="_blank">
          SUCCESSGANDE ICT Solutions</a>
      </p>
    </div>
  </div>