{% load static %}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Festivity An Entertainment Category Bootstrap Responsive Web Template | About :: W3Layouts </title>
  <link href="//fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500;600;700&display=swap"
    rel="stylesheet">
  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'pages/assets/css/style-starter.css' %}">
    <!-- aos CSS -->
    <link rel="stylesheet" href="{% static 'pages/assets/css/aos.css' %}">
</head>

<body>
  <!--header-->
  <header id="site-header" class="w3lhny-head fixed-top">
    <div class="container">
      <nav class="navbar navbar-expand-lg stroke px-0">
        <h1> <a class="navbar-brand" href="{% url 'pages-index' %}">
            <span class="sublog">Fest</span>ivity
          </a></h1>
        <!-- if logo is image enable this   
  <a class="navbar-brand" href="#index.html">
      <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
  </a> -->
        <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
          data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
          <span class="navbar-toggler-icon fa icon-close fa-times"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mx-lg-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'pages-index' %}">Home </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'pages-about' %}">About<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="services.html">Services</a>
            </li>
 
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact</a>
            </li>
                  <!--/search-right-->
                  <nav class="ml-lg-5">
                    <div class="search-bar">
                        <form class="search">
                            <input type="search" class="search__input" name="search"
                                placeholder="Search here.." onload="equalWidth()" required>
                            <span class="fa fa-search search__icon"></span>
                        </form>
                    </div>
                  </nav>
                  <!--//search-right-->
          </ul>
        </div>
        <!-- toggle switch for light and dark theme -->
        <div class="mobile-position">
          <nav class="navigation">
            <div class="theme-switch-wrapper">
              <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox">
                <div class="mode-container">
                  <i class="gg-sun"></i>
                  <i class="gg-moon"></i>
                </div>
              </label>
            </div>
          </nav>
        </div>
        <!-- //toggle switch for light and dark theme -->
      </nav>
    </div>
  </header>
  <!--/header-->
  <!--/w3l-inner-page-breadcrumb-->
  <section class="w3l-inner-page-breadcrumb">
    <div class="breadcrumb-bg py-5">
      <div class="container pt-lg-5 pt-md-3 p-lg-4 pb-md-3 my-lg-3">
        <h2 class="title pt-5">About Our Festivity</h2>
        <ul class="breadcrumbs-custom-path mt-3 text-center">
          <li><a href="index.html">Home</a></li>
          <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Pages </li>
          <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> About </li>
        </ul>
      </div>
    </div>
  </section>
  <!-- //w3l-inner-page-breadcrumb-->
  <section class="w3l-about py-5" id="about">
    <div class="container py-lg-4 py-md-3">
        <div class="about-block text-center">
          <div class="header-title mb-4">
            <span class="sub-title">Info </span>
            <h3 class="title-w3l">Our Story</h3>
          </div>
            <p class="mt-md-4 mt-3 mx-lg-5 px-lg-5">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
                ultrices in ligula. Semper at tempu. Lorem ipsum dolor sit amet. Lorem ipsum init
                dolor sit, amet elit. Dolor non velit, ut culpa!</p>
            <a href="#url" class="img-height">
                <img src="{% static 'pages/assets/images/banner2.jpg' %}" alt="" class="radius-image img-fluid mt-md-5 mt-4">
            </a>
        </div>
    </div>
    </div>
</section>
<div class="about-content py-5">
    <div class="container py-md-5 py-2">
        <div class="row">
            <div class="col-lg-6 pl-lg-5">
              <div class="header-title mb-4">
                <span class="sub-title">Our Info</span>
                <h3 class="title-w3l">More Than
                  420 Events
                  Since 1990</h3>
              </div>
            </div>
            <div class="col-lg-6 mt-lg-0 mt-4">
                <p class="mb-4">We share common trends and strategies for improving your rental
                    income and making sure you stay in high demand of service. </p>
                <p class="mb-0">With lots of unique blocks, you can easily build a page without coding.
                    Build your next landing page. With lots of unique blocks, you can easily build a page without
                    coding any other page.</p>
            </div>
        </div>
    </div>
</div>
<section class="w3l-aboutblock2">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3 py-2">
            <div class="row">
                <div class="col-lg-6 pr-lg-5">
                    <div class="image grids">
                        <div class="grid1">
                            <img src="{% static 'pages/assets/images/ab1.jpg' %}" alt="" class="radius-image img-fluid">
                            <img src="{% static 'pages/assets/images/b6.jpg' %}" alt="" class="radius-image img-fluid mt-4">
                        </div>
                        <div class="grid2">
                            <img src="{% static 'pages/assets/images/b3.jpg' %}" alt="" class="radius-image img-fluid">
                            <img src="{% static 'pages/assets/images/ab2.jpg' %}" alt="" class="radius-image img-fluid mt-4">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 pl-lg-5 mt-lg-0 mt-md-5 mt-4 align-self" data-aos="zoom-out">
                  <div class="header-title mb-4">
                    <span class="sub-title">Our Info</span>
                    <h3 class="title-w3l">Are You Ready To Rock?
                      We Planned Mind-Blowing Entertainment For You</h3>
                  </div>
                  
                    <p class="mt-md-4 mt-3">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
                        ultrices in ligula. Semper at tempufddfel. Lorem ipsum init
                        dolor sit, amet elit. Dolor ipsum non velit, culpa! Morbi congue ligula a magna gravida, a
                        mollis sem faucibus. </p>
                        <p class="mt-4">With lots of unique blocks, you can easily build a page without coding any other page. Vel leo non arcu accumsan porttitor. Nam iaculis urna sed odio
                        aliquet, et.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/team-sec-->
<section class="w3l-team-main" id="team">
    <div class="team py-5">
        <div class="container py-lg-5">
            <div class="title-content text-center">
              <div class="header-title">
                <span class="sub-title">Our Team</span>
                <h3 class="title-w3l">Our Organizers</h3>
              </div>
               
            </div>
            <div class="row mt-md-5 mt-4">
                <div class="col-lg-3 col-6 team-wrap">
                    <div class="team-member">
                        <div class="team-img">
                            <img src="{% static 'pages/assets/images/s1.jpg' %}" alt="" class="radius-image img-fluid">
                        </div>
                        <a href="#url" class="team-title">Luke jacobs</a>
                        <p> Organizer</p>
                    </div>
                </div>
                <!-- end team member -->

                <div class="col-lg-3 col-6 team-wrap">
                    <div class="team-member">
                        <div class="team-img">
                            <img src="{% static 'pages/assets/images/s2.jpg' %}" alt="" class="radius-image img-fluid">
                        </div>
                        <a href="#url" class="team-title">Claire olson</a>
                        <p> Organizer</p>
                    </div>
                </div>
                <!-- end team member -->

                <div class="col-lg-3 col-6 team-wrap mt-lg-0 mt-5">
                    <div class="team-member last ">
                        <div class="team-img">
                            <img src="{% static 'pages/assets/images/s3.jpg' %}" alt="" class="radius-image img-fluid">
                        </div>
                        <a href="#url" class="team-title">Phillip hunt</a>
                        <p> Organizer</p>
                    </div>
                </div>
                <!-- end team member -->

                <div class="col-lg-3 col-6 team-wrap mt-lg-0 mt-5">
                    <div class="team-member last ">
                        <div class="team-img">
                            <img src="{% static 'pages/assets/images/s4.jpg' %}" alt="" class="radius-image img-fluid">
                        </div>
                        <a href="#url" class="team-title">Sara grant</a>
                        <p> Organizer</p>
                    </div>
                </div>
                <!-- end team member -->

                <div class="col-lg-3 col-6 team-wrap mt-5 pt-lg-2">
                    <div class="team-member last ">
                        <div class="team-img">
                            <img src="{% static 'pages/assets/images/s5.jpg' %}" alt="" class="radius-image img-fluid">
                        </div>
                        <a href="#url" class="team-title">Sara grant</a>
                        <p> Organizer</p>
                    </div>
                </div>
                <!-- end team member -->

                <div class="col-lg-3 col-6 team-wrap mt-5 pt-lg-2">
                    <div class="team-member last ">
                        <div class="team-img">
                            <img src="{% static 'pages/assets/images/s6.jpg' %}" alt="" class="radius-image img-fluid">
                        </div>
                        <a href="#url" class="team-title">Sara grant</a>
                        <p> Organizer</p>
                    </div>
                </div>
                <!-- end team member -->

                <div class="col-lg-3 col-6 team-wrap mt-5 pt-lg-2">
                    <div class="team-member last ">
                        <div class="team-img">
                            <img src="{% static 'pages/ssets/images/s2.jpg' %}" alt="" class="radius-image img-fluid">
                        </div>
                        <a href="#url" class="team-title">Sara grant</a>
                        <p> Organizer</p>
                    </div>
                </div>
                <!-- end team member -->

                <div class="col-lg-3 col-6 team-apply align-self">
                    <h4 class="join-title">Interested to join
                        our team ?</h4>
                    <a href="#btn" class="btn link-style p-0">Join Now <span class="fa fa-long-arrow-right"></span></a>
                </div>

            </div>
        </div>
</section>
<!--//team-sec-->
  <!-- footer7 block -->
  <section class="w3l-footer7">
    <div class="footer7 py-5">
      <div class="container py-lg-3">
        <div class="footer-destinations mb-3 text-center">
          <h5>The life of the party. The sound of celebration.</h5>
        </div>
        <div class="d-grid grid-col-3 footer-top7">
          <div class="footer-list7 mt-4">
            <h6 class="footer-title7">Quick links</h6>
            <ul>
              <li><a href="about.html">About</a></li>
              <li><a href="services.html">Services</a></li>
              <li><a href="#url">Privacy & Policy</a></li>
              <li><a href="contact.html">Map & Location</a></li>
            </ul>
          </div>
          <div class="footer-list7 mt-4">

            <h6 class="footer-title7">Newsletter sign up</h6>
            <form action="#" method="post" class="footer-newsletter">
              <input type="email" name="" placeholder="Email address" required />
              <button class="btn btn-style">Subscribe</button>
            </form>

          </div>

          <div class="footer-list7 mt-4">
            <h6 class="footer-title7">Call Us:</h6>
            <ul class="phone-numbers">
              <li><a href="tel:+123456790"> +123456790</a></li>
              <li><a href="tel:+123456791"> +123456791</a></li>
            </ul>
            <h6 class="footer-title7">Connect with us</h6>
            <div class="main-social-footer7">
              <a href="#url" title="Facebook" class="footer-fb"><span class="fa fa-facebook"
                  aria-hidden="true"></span></a>
              <a href="#url" title="Twitter" class="footer-tw"><span class="fa fa-twitter"
                  aria-hidden="true"></span></a>
              <a href="#url" title="Google Plus" class="footer-gg"><span class="fa fa-google-plus"
                  aria-hidden="true"></span></a>
              <a href="#url" title="Linkedin" class="footer-lin"><span class="fa fa-linkedin"
                  aria-hidden="true"></span></a>
              <a href="#url" title="Pinterest" class="footer-pin"><span class="fa fa-pinterest"
                  aria-hidden="true"></span></a>
            </div>
          </div>
        </div>
        <div class="copy-right-hny text-center">
          <p>© 2021 Festivity. All rights reserved.Design by <a href="" target="_blank">
              SUCCESSGANDE ICT Solutions</a>
          </p>
        </div>
      </div>
      <!-- //footer -->
      <!-- move top -->
      <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fa fa-angle-up"></span>
      </button>
      <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
          scrollFunction()
        };

        function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
          } else {
            document.getElementById("movetop").style.display = "none";
          }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        }
      </script>
      <!-- //move top -->
      <!-- /noscroll -->
      <script>
        $(function () {
          $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
          })
        });
      </script>
      <!-- //noscroll -->
      <!-- //footer -->
    </div>
  </section>
  <!-- //footer7 block -->
  <!-- Template JavaScript -->
  <script src="{% static 'pages/assets/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'pages/assets/js/theme-change.js' %}"></script>
  <!-- owlcarousel -->
  <script src="{% static 'pages/assets/js/owl.carousel.js' %}"></script>
  <!-- script for tesimonials carousel slider -->
  <script>
    $(document).ready(function () {
      $("#owl-demo1").owlCarousel({
        loop: true,
        margin: 20,
        nav: false,
        responsiveClass: true,
        responsive: {
          0: {
            items: 1,
            nav: false
          },
          1000: {
            items: 1,
            nav: false,
            loop: false
          }
        }
      })
    })
  </script>
  <!-- //script for tesimonials carousel slider -->
  <!-- /aos -->
  <script src="{% static 'pages/assets/js/aos.js' %}"></script>
  <script src="{% static 'pages/assets/js/aosindex.js' %}"></script>
  <!-- //aos -->
  <!--/MENU-JS-->
  <script>
    $(window).on("scroll", function () {
      var scroll = $(window).scrollTop();

      if (scroll >= 80) {
        $("#site-header").addClass("nav-fixed");
      } else {
        $("#site-header").removeClass("nav-fixed");
      }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
      $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
      $(window).on("resize", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
      });
    });
  </script>
  <!--//MENU-JS-->
  <script>
    $('#drop').change(function () {
      if ($('#drop').is(":checked")) {
        $('body').css('overflow', 'hidden');
      } else {
        $('body').css('overflow', 'auto');
      }
    });
  </script>
  <script src="{% static 'pages/assets/js/bootstrap.min.js' %}"></script>

</body>

</html>