{% load static %}

<!doctype html>
<html lang="zxx">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Festivity And Entertainment Web Application for Managing Events | Contact Us :: SUCCESSGANDE ICT Solutions</title>
  <link href="//fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500;600;700&display=swap"
    rel="stylesheet">
  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'pages/assets/css/style-starter.css' %}">
    <!-- aos CSS -->
    <link rel="stylesheet" href="{% static 'pages/assets/css/aos.css' %}">
</head>

<body>
  <!--header-->
  <header id="site-header" class="w3lhny-head fixed-top">
    <div class="container">
      <nav class="navbar navbar-expand-lg stroke px-0">
        <h1> <a class="navbar-brand" href="{% url 'pages-index' %}">
            <span class="sublog">Fest</span>ivity
          </a></h1>
        <!-- if logo is image enable this   
  <a class="navbar-brand" href="#index.html">
      <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
  </a> -->
        <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
          data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
          <span class="navbar-toggler-icon fa icon-close fa-times"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mx-lg-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'pages-index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'pages-about' %}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'pages-services' %}">Services</a>
            </li>

            <li class="nav-item  active">
              <a class="nav-link" href="{% url 'pages-contact' %}">Contact</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="{% url 'pages-buy-tickets' %}">Buy Ticket</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'pin-activation' %}">Activate PIN</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'user-login' %}">Login</a>
            </li>
                  <!--/search-right-->
                  <nav class="ml-lg-5">
                    <div class="search-bar">
                        <form class="search">
                            <input type="search" class="search__input" name="search"
                                placeholder="Search here.." onload="equalWidth()" required>
                            <span class="fa fa-search search__icon"></span>
                        </form>
                    </div>
                  </nav>
                  <!--//search-right-->
          </ul>
        </div>
        <!-- toggle switch for light and dark theme -->
        <div class="mobile-position">
          <nav class="navigation">
            <div class="theme-switch-wrapper">
              <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox">
                <div class="mode-container">
                  <i class="gg-sun"></i>
                  <i class="gg-moon"></i>
                </div>
              </label>
            </div>
          </nav>
        </div>
        <!-- //toggle switch for light and dark theme -->
      </nav>
    </div>
  </header>
  <!--/header-->
  <!--/w3l-inner-page-breadcrumb-->
  <section class="w3l-inner-page-breadcrumb">
    <div class="breadcrumb-bg py-5">
      <div class="container pt-lg-5 pt-md-3 p-lg-4 pb-md-3 my-lg-3">
        <h2 class="title pt-5">Contact Page</h2>
        <ul class="breadcrumbs-custom-path mt-3 text-center">
          <li><a href="{% url 'pages-index' %}">Home</a></li>
          <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Pages </li>
          <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Contact </li>
        </ul>
      </div>
    </div>
  </section>
  <!-- //w3l-inner-page-breadcrumb-->
  <!-- contact1 -->
  <div class="w3l-contact-10 py-5" id="contact">
    <div class="form-41-mian pt-lg-4 pt-md-3 pb-4">
      <div class="container">
        <div class="header-title text-center mx-auto">
          <span class="sub-title">Contact</span>
          <h3 class="title-w3l">Get in Touch with Us</h3>
          <p class="mb-5">If you have a question regarding our services, feel free
            to contact us using the form below.</p>
        </div>
        <!-- Alerts-->	
				{% include 'partials/_alerts.html' %}
				<!-- Alerts End-->
        <div class="row mt-lg-3">
          <div class="col-lg-4 contacts-5-grid-main section-gap mb-lg-0 mb-4 pr-lg-5">
            <div class="contacts-5-grid">
              <div class="map-content-5">
                <section class="tab-content">
                  <div class="contact-type">
                    <div class="address-grid mb-3" data-aos="fade-down">
                      <span class="pos-icon">
                        <span class="fa fa-map"></span>
                      </span>
                      <div class="ad-right">
                        <h6>Address</h6>
                        <p>#59, Ahmadu Bello Way Gboko. Benue State, Nigeria.</p>
                      </div>
                    </div>
                    <div class="address-grid mb-3">
                      <span class="pos-icon">
                        <span class="fa fa-envelope">

                        </span>
                      </span>
                      <div class="ad-right">
                        <h6>Email</h6>
                        <a href="mailto:info@developweb.com.ng" class="link1">info@developweb.com.ng</a>
                      </div>
                    </div>
                    <div class="address-grid" data-aos="fade-up">
                      <span class="pos-icon">
                        <span class="fa fa-headphones"></span>
                      </span>
                      <div class="ad-right">
                        <h6>Phone</h6>
                        <a href="tel:+2348026421028" class="link1">+2348026421028</a>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
          <div class="col-lg-8 form-inner-cont">
            <form action="" method="post" class="signin-form">
              {% csrf_token %}
              <div class="form-grids">
                <div class="form-input" data-aos="fade-down">
                  <input type="text" name="name" id="w3lName" placeholder="Enter your name *" required="" />
                </div>
                <div class="form-input"data-aos="fade-down" >
                  <input type="text" name="subject" id="Subject" placeholder="Enter subject " required />
                </div>
                <div class="form-input" data-aos="fade-up">
                  <input type="email" name="email" id="Email" placeholder="Enter your email *" required />
                </div>
                <div class="form-input" data-aos="fade-up">
                  <input type="text" name="phone" id="Phone" placeholder="Enter your Phone Number *" required />
                </div>
              </div>
              <div class="form-input">
                <textarea name="message" id="Message" placeholder="Type your query here" required=""></textarea>
              </div>
              <div class="text-right">
                <button type="submit" class="btn btn-style btn-primary">Submit Now</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- //contacts-5-grid -->
    </div>
  </div>

  <div class="contacts-sub-5">
    <iframe
      src="https://maps.google.com/maps?q=59%20Ahmadu%20bello%20way%20Gboko&t=&z=13&ie=UTF8&iwloc=&output=embed"
      style="border:0" allowfullscreen></iframe>
  </div>
  <!-- footer7 block -->
  <section class="w3l-footer7">
    <div class="footer7 py-5">
      {% include 'partials/_pages_footer.html' %}
      <!-- //footer -->
      <!-- move top -->
      <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fa fa-angle-up"></span>
      </button>
      <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
          scrollFunction()
        };

        function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
          } else {
            document.getElementById("movetop").style.display = "none";
          }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        }
      </script>
      <!-- //move top -->
      <!-- /noscroll -->
      <script>
        $(function () {
          $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
          })
        });
      </script>
      <!-- //noscroll -->
      <!-- //footer -->
    </div>
  </section>
  <!-- //footer7 block -->
  <!-- Template JavaScript -->
  <script src="{% static 'pages/assets/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'pages/assets/js/theme-change.js' %}"></script>
  <!-- /aos -->
  <script src="{% static 'pages/assets/js/aos.js' %}"></script>
  <script src="{% static 'pages/assets/js/aosindex.js' %}"></script>
  <!-- //aos -->
  <!--/MENU-JS-->
  <script>
    $(window).on("scroll", function () {
      var scroll = $(window).scrollTop();

      if (scroll >= 80) {
        $("#site-header").addClass("nav-fixed");
      } else {
        $("#site-header").removeClass("nav-fixed");
      }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
      $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
      $(window).on("resize", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
      });
    });
  </script>
  <!--//MENU-JS-->
  <script>
    $('#drop').change(function () {
      if ($('#drop').is(":checked")) {
        $('body').css('overflow', 'hidden');
      } else {
        $('body').css('overflow', 'auto');
      }
    });
  </script>
  <script src="{% static 'pages/assets/js/bootstrap.min.js' %}"></script>

</body>

</html>