

{% load static %}
<!DOCTYPE html>
<html lang="en">

<!--Head Section HERE-->

<head>

	<!-- META ============================================= -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="SUCCESSGANDE ICT Solutions" />
	<meta name="robots" content="" />
	
	<!-- DESCRIPTION -->
	<meta name="description" content="WASU : West African Students\' Union." />
	
	<!-- OG -->
	<meta property="og:title" content="WASU : SCHOLARSHIPS 2022" />
	<meta property="og:description" content="WASUNION : West African Students\' Union Scholarships" />
	<meta property="og:image" content="" />
	<meta name="format-detection" content="telephone=no">
	
	<!-- FAVICONS ICON ============================================= -->
	<link rel="icon" href="{% static 'assets/images/favicon.ico' % }" type="image/x-icon" />
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon.png' %}" />
	
	<!-- PAGE TITLE HERE ============================================= -->
	<title>{% block title %} {% endblock %}</title>
	
	<!-- MOBILE SPECIFIC ============================================= -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.min.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
	
	<!-- All PLUGINS CSS ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/assets.css'  %}">
	
	<!-- TYPOGRAPHY ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/typography.css' %}">
	
	<!-- SHORTCODES ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/shortcodes/shortcodes.css' %}">
	
	<!-- STYLESHEETS ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
	<link class="skin" rel="stylesheet" type="text/css" href="{% static 'assets/css/color/color-1.css' %}">
	
</head>

<body id="bg">

    {% block content %}

    {% endblock %}
<!-- External JavaScripts -->
{% include 'partials/_js.html' %}
</body>

</html>
