
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket PINs</title>
    
</head>

<body>

    
    <div class="col-md-12">
                        
                            
        
       
          
          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="/media/profile_images/IMG-20220612-WA0014_a82wqYd.jpg" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td>Test 1</td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td>Sept. 17, 2022</td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N2,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>STANDARD PASS</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>105336</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="/media/profile_images/IMG-20220612-WA0014_a82wqYd.jpg" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td>Test 1</td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td>Sept. 17, 2022</td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N2,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>STANDARD PASS</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>861678</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="/media/profile_images/IMG-20220612-WA0014_a82wqYd.jpg" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td>Test 1</td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td>Sept. 17, 2022</td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N2,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>STANDARD PASS</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>589435</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="/media/profile_images/IMG-20220612-WA0014_a82wqYd.jpg" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td>Test 1</td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td>Sept. 17, 2022</td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N2,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>STANDARD PASS</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>595574</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="/media/profile_images/IMG-20220612-WA0014_a82wqYd.jpg" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td>Test 1</td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td>Sept. 17, 2022</td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N2,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>STANDARD PASS</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>489796</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="/media/profile_images/IMG-20220612-WA0014_a82wqYd.jpg" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td>Test 1</td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td>Sept. 17, 2022</td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N2,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>STANDARD PASS</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>688323</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="/media/profile_images/IMG-20220612-WA0014_a82wqYd.jpg" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td>Test 1</td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td>Sept. 17, 2022</td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N2,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>STANDARD PASS</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>718875</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="/media/profile_images/IMG-20220612-WA0014_a82wqYd.jpg" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td>Test 1</td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td>Sept. 17, 2022</td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N2,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>STANDARD PASS</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>011072</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="/media/profile_images/IMG-20220612-WA0014_a82wqYd.jpg" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td>Test 1</td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td>Sept. 17, 2022</td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N2,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>STANDARD PASS</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>076505</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="/media/profile_images/IMG-20220612-WA0014_a82wqYd.jpg" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td>Test 1</td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td>Sept. 17, 2022</td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N2,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>STANDARD PASS</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>716349</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="/media/profile_images/IMG-20220612-WA0014_a82wqYd.jpg" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td>Test 1</td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td>Sept. 17, 2022</td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N2,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>STANDARD PASS</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>918168</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="/media/profile_images/IMG-20220612-WA0014_a82wqYd.jpg" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td>Test 1</td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td>Sept. 17, 2022</td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N2,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>STANDARD PASS</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>086943</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="/media/profile_images/IMG-20220612-WA0014_a82wqYd.jpg" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td>Test 1</td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td>Sept. 17, 2022</td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N2,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>STANDARD PASS</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>810785</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="/media/profile_images/IMG-20220612-WA0014_a82wqYd.jpg" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td>Test 1</td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td>Sept. 17, 2022</td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N2,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>STANDARD PASS</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>703054</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

          

          <div class="card-body">
            <div class="row">

                <div class="col-md-12">

                  <!-- Alerts-->	
                          
                          <!-- Alerts End-->

                  <hr style="margin-bottom: 0.3%;">
                  <div style="margin-left:40% ;">
                    <img  width="70" height="70" src="/media/profile_images/IMG-20220612-WA0014_a82wqYd.jpg" alt="applicant picture">
                  </div>
                    
                    <hr style="margin-top: 0.3%;">
                    <table class="table bg-white table-borderless">
                        <tbody>
                          <tr>
                            <th scope="row" style="text-align: left;">Event:</th>
                            <td>Test 1</td>                                   
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Event Date:</th>
                            <td>Sept. 17, 2022</td>
                          </tr> 
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Price:</th>
                            <td>N2,000</td>
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket Type:</th>
                            <td>STANDARD PASS</td>                                   
                          </tr>
                         
                          <tr>
                            <th scope="row" style="text-align: left;">Pin Status :</th>
                            <td>Not Activated</td>                                   
                          </tr>  
                          <tr>
                            <th scope="row" style="text-align: left;">Ticket PIN:</th>
                            <td>807504</td>                                   
                          </tr>  
                        
                                        
                        </tbody>
                      </table>
                      
                </div>
                
            </div>
         </div>

            
        
      
        
      
</div>
    
      
</body>
</html>