{% extends 'dashboard_base.html' %}

{% block title %} Dashboard | {{ user.username }} {% endblock %}

{% load static %}

{% load crispy_forms_tags %}


{% block content %}

<!-- Left sidebar menu start -->
{% include 'partials/_LeftSideBar.html' %}
<!-- Left sidebar menu end -->



<main class="ttr-wrapper">
    <div class="container-fluid">
        <div class="db-breadcrumb">
            <h4 class="breadcrumb-title" style="color: rgb(4, 149, 16);">{{user.username}} Profile</h4>
            <ul class="db-breadcrumb-list">
                <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
                <li style="color: blue;">{{user.username}} Profile</li>
            </ul>
        </div>	
        {% include 'partials/_dashboard_cards.html' %}
        <div class="row">
            <!-- Your Profile Views Chart -->
            <div class="col-lg-12 m-b30">
                <div class="container">
                    <div class="row my-4">

                      <!--Alert Message Division-->
                      {% include 'partials/_alerts.html' %}
                      <!--Alert Message Division Ends-->

                      <!--Notice Board Division-->
                      

                      <div class="col-md-4">
                        <div class="card">
                            <div class="card-header bg-info text-white">
                                Information
                            </div>
                            <div class="card-body">
                                    <h5 class="my-4 mt-0">Drinks Selection Instruction.</h5>
                                    <p>
                                      <ul style="font-size:1rem ; font-family:Verdana, Geneva, Tahoma, sans-serif; color:red;">
                                        <li>Tick the Brand of Drinks Normally Like .</li>
                                        <li>Submit and Continue.</li>
                                        <li>Remember, You cannot Edit or undo after Submission</li>
                                        
                                      </ul>
                                    </p>

                            </div>
                        </div>
                      </div>

                      


                   
                      <!--Notice Board Division Ends-->

                        <div class="col-md-8">
                           <div class="card">
                               <div class="card-header bg-info text-white">
                                {{ request.user.profile.surname }}  {{ Page }}
                               </div>
                               <div class="card-body">
                                <div class="row">
                                    
                                    <form method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}

                                        {{ form | crispy }}

                                        <input class="btn btn-info mt-3" type="submit" value="Add Drinks">

                                    </form>
                                </div>
                               </div>
                           </div>
                        </div>
                        
                    </div>
                  </table>
                </div>
            </div>
            <!-- Your Profile Views Chart END-->
        </div>
    </div>
</main>



{% endblock %}