{% extends 'dashboard_base.html' %}

{% block title %} {{ page_title }} {% endblock %}

{% block content %}
<div class="container p-5">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white p-3">
                <h3>{{ page_title }}</h3>
                <hr>
               
               <div class="alert alert-danger">
                   
                   <h5>Sure to Delete <span style="color: white;">{{ event_name }} Event </span>?</h5>
                  
               </div>
               
               <form method="POST">
                   {% csrf_token %} 

                   {{ form }}

                <a class="btn btn-secondary" href="{% url 'event-list' %}">Cancel</a>

                   <input class="btn btn-danger" type="submit" value="Delete">
               </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}