{% extends 'base.html' %}

{% load static %}

{% block title %} {{ page_title }} {% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<div class="page-wraper">
	<div id="loading-icon-bx"></div>
	<div class="account-form">
		<div class="account-head" style="background-image:url( assets/images/background/bg2.jpg );">
			<a href="#"><img src="{% static 'assets/images/logo-white-2.png' %}" alt=""></a>
		</div>
		<div class="account-form-inner">
			<div class="account-container">
				<div class="heading-bx left">
					<h2 class="title-head">Login to your <span>Account</span></h2>
					<p>Have Not Activated PIN? <a href="{% url 'pin-activation' %}">Activate PIN Here.</a></p>
				</div>
				<!-- Alerts-->	
				{% include 'partials/_alerts.html' %}
				<!-- Alerts End-->
				
				<form class="contact-bx" method="POST">
					{% csrf_token %}

                    {{ form | crispy }}

                    <input class="btn btn-success" type="submit" value="Login">
					<a  href="">Forget Password?</a>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}