{% extends 'dashboard_base.html' %}

{% block title %}  PIN List {% endblock %}

{% load static %}

{% load crispy_forms_tags %}

{% load humanize %}


{% block content %}

<!-- Left sidebar menu start -->
{% include 'partials/_LeftSideBar.html' %}
<!-- Left sidebar menu end -->

<main class="ttr-wrapper">
    <div class="container-fluid">
        
        <div class="container-fluid">
            <div class="db-breadcrumb">
                <h4 class="breadcrumb-title">PINs</h4>
                <ul class="db-breadcrumb-list">
                    <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
                    <li>List of Generated PINs</li>
                </ul>
            </div>	

                 <!-- Alerts-->	
				{% include 'partials/_alerts.html' %}
				<!-- Alerts End-->
                
                    <div class="col-md-12">
                        
                            
                            {% if pins %}
                           
                              
                              {% for pin in pins %}

                              <div class="card-body">
                                <div class="row">

                                    <div class="col-md-12">
                                      <div style="margin-left:40% ;">
                                        <img  width="70" height="70" src="{{ pin.ticket.event.event_logo.url }}" alt="applicant picture">
                                      </div>
                                        
                                        <hr>
                                        <table class="table bg-white table-borderless">
                                            <tbody>
                                              <tr>
                                                <th scope="row" style="text-align: left;">Event:</th>
                                                <td>{{ pin.ticket.event }}</td>                                   
                                              </tr> 
                                              <tr>
                                                <th scope="row" style="text-align: left;">Event Date:</th>
                                                <td>{{ pin.ticket.event.date }}</td>
                                              </tr> 
                                              <tr>
                                                <th scope="row" style="text-align: left;">Ticket Price:</th>
                                                <td>N{{ pin.ticket.price | intcomma }}</td>
                                              </tr>  
                                              <tr>
                                                <th scope="row" style="text-align: left;">Ticket Type:</th>
                                                <td>{{ pin.ticket.category}}</td>                                   
                                              </tr>
                                             
                                              <tr>
                                                <th scope="row" style="text-align: left;">Pin Status :</th>
                                                <td>{{ pin.status }}</td>                                   
                                              </tr>  
                                              <tr>
                                                <th scope="row" style="text-align: left;">Ticket PIN:</th>
                                                <td>{{ pin.value}}</td>                                   
                                              </tr>  
                                            
                                                            
                                            </tbody>
                                          </table>
                                          
                                    </div>
                                    
                                </div>
                             </div>

                              {% endfor %}  
                            
                          
                            {% else %}  
                            
                            No Records Found

                            {% endif %}
                          
                    </div>
                    
                
                <!-- List Applicants END-->
            
        </div>

        <!--Pagination Start Here-->
        <div class="table-responsive mr-3">
          <div class="col-md-8 mr-3">
            {% if list_applicants.has_other_pages %}
            <ul class="pagination">
              {% if list_applicants.has_previous %}
              <li class="page-item">
                <a href="?page={{list_apps.previous_page_number}}" class="page-link">
                  &laquo;
                </a>
              </li>
              {% else %}
              <li class="page-item disabled">
                <a class="page-link">
                  &laquo;
                </a>
              </li>
              {% endif %}
              {% for i in list_applicants.paginator.page_range %}
  
              {% if list_applicants.number == i %}
  
              <li class="page-item active">
                <a  class="page-link">
                  {{i}}
                </a>
              </li>
  
              {% else %}
  
              <li class="page-item">
                <a href="?page={{i}}" class="page-link">{{i}}</a>
              </li>
  
              {% endif %}
  
              {% endfor %}
  
              {% if list_applicants.has_next %}
              <li class="page-item">
                <a href="?page={{list_applicants.next_page_number}}" class="page-link">
                  &raquo;
                </a>
              </li>
              {% else %}
              <li class="page-item disabled">
                <a class="page-link">
                  &raquo;
                </a>
              </li>
              {% endif %}
            </ul>
            {% endif %}
          </div>
        </div> 
        
    </div>
</main>

{% endblock %}